@import "./fonts/inter.css";

body {
  font-variant-ligatures: none;
}

/**
 * Custom utilities
 */

.brandbg-main,
.brandbg-popup {
  background: radial-gradient(
      30.26% 62.3% at 93.12% 25.55%,
      rgba(90, 4, 20, 0.056) 0%,
      rgba(13, 14, 29, 0) 100%
    ),
    radial-gradient(
      43.61% 135.15% at 0% 77.51%,
      rgba(4, 73, 88, 0.1) 0%,
      rgba(13, 14, 29, 0) 100%
    ),
    #0d0e1d;
  /* TODO: Change when design will be ready */
}

.brandbg-main-fallback,
.brandbg-popup-fallback {
  @apply bg-brand-dark;
}

/**
 * TailwindCSS
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-icon-stable {
    --opacity: 1;
    --color-1: theme("colors.brand.main");
    --color-2: theme("colors.brand.main");
  }

  .glass-icon {
    --opacity: 0.8;
    --color-1: theme("colors.brand.main");
    --color-2: theme("colors.brand.main");
  }

  svg.glass-icon * {
    @apply transition-all duration-300 ease-in-out;
  }

  .glass-icon--hover {
    --opacity: 1;
  }

  .glass-icon--active {
    --opacity: 1;
    --color-1: theme("colors.brand.redone");
    --color-2: theme("colors.brand.redtwo");
  }
}

div[data-radix-popper-content-wrapper] {
  will-change: auto !important;
}

[data-state="checked"] span {
  transform: translateX(16px);
}
