.MuiBox-root:hover {
  background: none !important;
}

.MuiBox-root.withHover:hover {
  background: #323b41 !important;
}

.MuiBox-root.withHoverGray:hover {
  background: #22262a !important;
}

.MuiTypography-body1 {
  color: #8d9c9e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px !important;
}

::-webkit-scrollbar {
  background: #181a1f;
  width: 5px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

div::-webkit-scrollbar-thumb {
  background: rgb(204 249 255 / 0.1);
  border-radius: 3px;
  border: 1px solid rgb(39, 44, 48);
}

.switcher {
  width: 48px;
  height: 28px;
  border-radius: 20px;
  background: #2b3037;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.switcher.active {
  background: #75db65;
  justify-content: flex-end;
}

.switcher .point {
  width: 20px;
  height: 20px;
  background: #737c88;
  border-radius: 100%;
  margin: 0 5px;
}

.switcher.active .point {
  background: #0d1311;
}

.routeEllips {
  width: 16px;
  height: 16px;
  background: #737c88;
  border-radius: 100%;
  margin-right: 8px;
}

.routeEllips svg {
  opacity: 0;
}

.routeEllips.selected {
  background: #80ef6e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.routeEllips.selected svg {
  opacity: 1;
}

.txStatus {
  color: #000;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 10px;
  font-style: normal;
  font-weight: 510;
  line-height: 14.068px;
  padding: 8px;
  border-radius: 6px;
}

.txStatus.complete {
  background: #80ef6e;
}

.txStatus.progress {
  background: #ffcf26;
}

.txStatus.failed {
  background: rgb(234 85 106);
}

.txSteps .MuiBox-root {
  background: transparent;
  border: none;
  border-radius: 0;
}

.MuiBo .MuiTooltip-root {
  background: yellow;
}

.searchInputWrapper input {
  padding-left: 6px !important;
}

.linkButton {
  border-radius: 4px;
  background: rgba(204, 214, 255, 0.2);
}

.MuiPaper-root {
  border-radius: 10px;
}
