.MuiBox-root:hover {
  background: none !important;
}

.MuiTypography-body1 {
  color: #8d9c9e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.switcher {
  width: 48px;
  height: 28px;
  border-radius: 20px;
  background: #2b3037;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.switcher.active {
  background: #75db65;
  justify-content: flex-end;
}

.switcher .point {
  width: 20px;
  height: 20px;
  background: #737c88;
  border-radius: 100%;
  margin: 0 5px;
}

.switcher.active .point {
  background: #0d1311;
}
